<% if @tea.errors.any? %>
    <h1>Errors which occured</h1>

    <% @tea.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= msg %>
        </div>
    <% end %>

<% end %>
<div style="width:500px;">
<%= form_for @tea do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :kind %>
      <%= f.text_field :kind, class: 'form-control' %>
    </p>
      <p>
        <%= f.label :avatar %>
        <%= form.file_field :avatar, class: 'form-control' %>
      </p>
    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
<% end %>
</div>