<h1>Listing all teas</h1>

<table class="table" >
  <tr>
    <th>Username</th>
    <th>Country of origin</th>
    <th>Type</th>
    <th>Options</th>
  </tr>

  <% @teas.each do |tea| %>
      <tr>
        <td><%= tea.name %></td>
        <td><%= tea.country %>
        <td><%= tea.kind %>
        <td><%= link_to 'Edit', edit_tea_path(tea)  %> | <%= link_to 'Show', tea_path(tea)  %> | <%= link_to 'Delete', tea_path(tea), method: :delete  %> </td>
      </tr>
  <% end %>

</table>
