<!DOCTYPE html>
<html>
  <head>
    <title>Herbaciarnia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-success" role="alert" style="width:50%; margin: 0 auto;">
         <%= msg %>
      </div>
    <% end %>

    <div style="width:900px;margin:0 auto;">

    <%= yield %>
    </div>
  </body>
</html>
